/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
button{
    font-size: inherit;
    
    appearance:none;
}

main > section ul{
    display:flex;

	overflow: auto;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	overscroll-behavior-x: contain;
	gap: var(--small);
	
	scrollbar-width: thin;
	scrollbar-color: var(--color-accent) transparent;

	padding: var(--none);
	margin: var(--none);
}

main > section li{
    flex-basis: 70%;
	flex-shrink: 0;

	scroll-snap-align: center;	
}

/************************/
/* Article met sections */
/************************/
/* section 1 in de article */
main > article:nth-of-type(1){
    display: grid;
}

main > article:nth-of-type(1) h2:nth-of-type(1){
    font-size: var(--font-medium);
    font-weight: var(--regular-fann);

    order: -3;

    padding: .8rem 0 .4rem 0;
    margin: var(--none);
}

article section:nth-of-type(1) > p{
    font-size: var(--font-extra-small);

    padding-bottom: .8em;
    margin: var(--none);
}

article section:nth-of-type(1) p:nth-of-type(2){
    order: -1;
}

article section:nth-of-type(1) p:nth-of-type(1){
    font-size: var(--font-small);

    order: -2;
}

main > article:nth-of-type(1) section:nth-of-type(1){
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

main > article:nth-of-type(1) section:nth-of-type(1) > img{
    display: block;

    order: -2;

    width: 14%;
    
    border: .1rem var(--color-accent) solid;
    border-radius: var(--small);
    
    margin-bottom: var(--large);
}

main > article:nth-of-type(1) button{
    height: 3rem;
}

main > article section:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main > article nav ul{
    display: flex;
}

/* section 2 in de article */
main section:nth-of-type(2) ul{
    display:flex;

	overflow: auto;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	overscroll-behavior-x: contain;
	gap: var(--small);
	
	scrollbar-width: thin;
	scrollbar-color: var(--color-accent) transparent;

	padding: var(--none);
	margin: var(--none);

    order: -3;
}

main section:nth-of-type(2) li{
    flex-basis: 100%;
	flex-shrink: 0;

	scroll-snap-align: center;	
}

article:nth-of-type(1) section:nth-of-type(2){
    order: -1;
}


main article section details:nth-last-of-type(2) li{
    list-style: inside;
}

/* section 3 in de article */
main article section details > p{
    font-size: .9rem;

    margin: .3rem .5rem;
    padding-bottom: 1rem;
}

@media(width>64em){
    main > article:nth-of-type(1){
        grid-template-columns: 30% 30% 40%;
    }

    main > article:nth-of-type(1) ul{
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-column: 1/3;

        overflow: visible;

        scroll-snap-type: none;

    }

    main > article:nth-of-type(1) h1, p, button, label{
        grid-column-end: -1;
    }

    main > article:nth-of-type(1) button{
        margin-bottom: var(--small);
    }

    main > article:nth-of-type(1) section:nth-of-type(1) > img{
        grid-column-end: -1;
        grid-row-end: -1;
    }

    main > article:nth-of-type(1) details{
        grid-column: 1/4;

        margin: .4rem 3rem;
    }
}

/******************/
/* eerste section */
/******************/
main > section:nth-of-type(1) li{
    flex-basis: 80%;
}


/******************/
/* tweede section */
/******************/
section:nth-of-type(2) article{
    display: grid;
}

section:nth-of-type(2) a article h3{
	position: relative;

	font-size: var(--font-small);
	font-weight: var(--medium-fann);

	color: var(--color-text-dark);
	
	padding-top: .7rem;
	margin: 0 var(--small);
}

section:nth-of-type(2) a article p{
	font-size: var(--font-extra-small);

	color: var(--color-text-dark);
	
	margin: var(--extra-small-rondom);
}

section:nth-of-type(2) a article img{
    order: -1;
}
