/****************/
/* JOUW STYLING */
/****************/

/* hero section */

main section:nth-of-type(1) ul{
	display:flex;

	overflow: auto;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	overscroll-behavior-x: contain;
	gap: .5em;
	
	scrollbar-width: thin;
	scrollbar-color: gray transparent;

	padding: 0;
}

main section:nth-of-type(1) li{
	position: relative;

	flex-basis:100%;
	flex-shrink: 0;

	scroll-snap-align: center;	
}

main section:nth-of-type(1) li:nth-of-type(1) h2{
	position: absolute;
	bottom: 4rem;

	font-size: 2em;

	z-index: 1;

	padding: .3rem .5rem;
}

main section:nth-of-type(1) li p{
	position: absolute;
	bottom: 1.5rem;

	z-index: 1;

	padding: .3rem .5rem;

	color: var(--color-light);
}

main section:nth-of-type(1) li h2{
	position: absolute;
	bottom: 2rem;

	font-size: 2em;

	z-index: 1;

	padding: .3rem .5rem;

	color: var(--color-light)
}

main section:nth-of-type(1) li:nth-of-type(3) h2{
	position: absolute;
	bottom: 0.5rem;

	font-size: 2em;

	z-index: 1;

	padding: .3rem .5rem;
}

main section:nth-of-type(1) li a{
	text-decoration: underline;

	color: var(--color-light);
}

main section:nth-of-type(1) li > a{
	position: absolute;
	bottom: .8rem;

	z-index: 1;

	padding: .3rem .5rem;

	font-size: 1.2em;
}

/* shoppen section */
main section:nth-of-type(2) ul{
	display:flex;

	overflow: auto;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	overscroll-behavior-x: contain;
	gap: .5em;
	
	scrollbar-width: thin;
	scrollbar-color: gray transparent;

	padding: 0;
}

main section:nth-of-type(2) li{
	position: relative;

	flex-basis: 80%;
	flex-shrink: 0;

	scroll-snap-align: center;	
}

main section:nth-of-type(2) p{
	position: absolute;
	bottom: .5rem;

	z-index: 1;

	padding: .3rem .5rem;

	text-decoration: underline;

	color: var(--color-light);
}