/*********/
/* Fonts */
/*********/
@font-face{
	font-family: fann;
	src: url(../fonts/FannDorenGrotesque-Regular.woff2);
	font-weight: 400;
}

@font-face{
	font-family: fann;
	src: url(../fonts/FannDorenGrotesque-Medium.woff2);
	font-weight: 500;
}

@font-face{
	font-family: fann;
	src: url(../fonts/FannDorenCondensed-Bold.woff2);
	font-weight: 700;
}


/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	color-scheme: light dark;
	/* kleuren */
	--color-text-dark: light-dark(#262424, #fff);
	--color-background: light-dark(#fff, #262424);
	--color-menu: rgb(0 0 0 / 80%);
	--color-light: light-dark(#F3F3F3, #fff);
	--color-text: light-dark(#707070, #AFAFAF);
	--color-accent: light-dark(#7F4C3B, #F39879);

	/* font-weight */
	--regular-fann: 400;
	--medium-fann: 500;
	--bold-fann: 700;

	/* font-size */
	--font-extra-small: .75em;
	--font-small: 1em;
	--font-medium: 1.2em;
	--font-large: 2em;

	/* margin/padding */
	--none: 0;
	--small: .3rem;
	--medium: .5rem;
	--large: .8rem;
	--extra-large: 1rem;
	--extra-small-rondom: .1rem .3rem;
	--small-rondom: .3rem .5rem; 
}

/*********/
/* CLASS */
/*********/

/* class voor headings verbergen, maar niet voor screenreader*/
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/**********/
/* STATES */
/**********/
a:focus-visible{
	border: .2rem var(--color-accent) solid;
	padding: .2rem;

	text-decoration: underline dashed;
}

button:focus-visible{
	border: .2rem var(--color-accent) solid;
	padding: .2rem;

	background-color: var(--color-text);
	fill: var(--color-background);
}

/****************/
/* JOUW STYLING */
/****************/

/* Algemeene styling */

body{
	font-family: "fann";
	margin: var(--none);
	padding: var(--none);

	box-sizing: border-box;

	background-color: var(--color-background);
}

li {
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}

header svg{
	fill: var(--color-text-dark);
}


/********/
/* Menu */
/********/
header{
	display: flex;

	gap: var(--medium);
	align-items: center;

	position: sticky;
	top: 0;

	z-index: 10;

	background-color: var(--color-background);

	padding: var(--extra-large);
}

/* header buttons/images */
header button img{
	width: 2em;
}

header button{
	width: 2.5em;
	aspect-ratio: 1/1;

	border: none;
	padding: var(--none);

	background-color: var(--color-background);
}

/********/
/* LOGO */
/********/
header > a {
	margin-right:auto;
}


/******************/
/* Hamburger menu */
/******************/
header nav{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: fixed;
	inset: 0;

	background-color: var(--color-menu);
	backdrop-filter: blur(.4rem);

	translate: 0 100%;
	
	transition: .5s ease;

	padding: var(--none);
	margin: var(--none);

	&.is-open {
		translate: 0 0;
	}
}

header nav li a{
	color: var(--color-light);

	font-size: 1.1em;
	font-weight: var(--regular-fann);
}

header nav li a:hover{
	text-decoration: underline;
}

header nav svg{
	height: 1.5rem;
	
	fill: var(--color-light);
}

header nav img{	
	color: var(--color-light);

	width: 3em;
}

header nav ul{
	border-bottom: .1rem var(--color-light) solid;
	border-top: .1rem var(--color-light) solid;

	padding: .5rem 0;
	margin: 0 1.5rem;
}

header nav ul:nth-of-type(1){
	border: none;

	padding-left: 1.5rem;
	margin: 3rem 0 5rem 0;
}

header nav ul:nth-of-type(3){
	border: none;

	padding-left: 1.5rem;
	margin: 3rem 0 1rem 0;

	font-size: var(--font-extra-small);
}

header nav li{
	padding: .5rem 0;
}

header button:nth-of-type(4) {
	appearance: none;
	
	width: 2.5em;
	aspect-ratio: 1/1;

	border: none;
	padding: var(--none);
	
	display: grid;
	justify-items: center;
	align-items: center;

	position:relative;
  	z-index: 1;
}

button:nth-of-type(4) span {
	display: block;

	width: 1.5em;
	height: .1em;
	background-color: var(--color-text-dark);

	grid-row-start: 1;
	grid-column-start: 1;

	transition: .25s;
}

button:nth-of-type(4) span:nth-of-type(1) {
	translate: 0 -.4em;
}

button:nth-of-type(4) span:nth-of-type(3) {
	translate: 0 .4em;
}

button.kruisje span:nth-of-type(1) {
	translate: 0 0;
	rotate: 45deg;
}
  
button.kruisje span:nth-of-type(2) {
	scale: 0 1;
}
  
button.kruisje span:nth-of-type(3) {
	translate: 0 0;
	rotate: -45deg;
}

/**********************/
/*SCHALEN VAN HET MENU*/
/**********************/
@media(width>48em){
	header > a {
		margin-left:auto;
	}
	
	header button:nth-of-type(4){
		order: -1;
	}

	header nav{
		translate: -100% 0;

		top: 0;
		right: 65%;
		bottom: 0;
		left: 0;
	}
}

/**********/
/* FOOTER */
/**********/
footer{
	background-color: var(--color-menu);
	color: var(--color-light);

	padding: var(--none);
	margin: var(--none);
}

footer nav ul{
	padding: 1.5rem;
	margin: var(--none);
}

footer nav > a{
	margin-left: 1.5rem;
}

footer nav > ul:nth-of-type(1){
	display: flex;
	padding-bottom: 0;
}

footer nav ul:nth-of-type(1) a{
	padding: .5rem;
}

footer nav ul:nth-of-type(1) li{
	margin: 1rem 0;
}

footer nav ul:nth-of-type(2) li{
	padding: .2rem 0;

	font-size: .75rem;
	text-decoration: underline;
}

footer a{
	color: var(--color-light);
	font-weight: var(--regular-fann);
}

footer a:hover{
	text-decoration: underline;
}

footer details{
	border-bottom: .08rem solid;
	padding: 1rem .5rem;
	margin: .5em 1em;
}

footer details summary{
	font-weight: var(--medium-fann);
}

footer details ul{
	margin: 0 -1.5em;
}

footer details li{
	padding: .15rem 0;

	text-decoration: underline;
}

footer details a:hover{
	text-decoration-color: var(--color-accent);
	text-decoration-style: solid;
}

/* details en summery */
/* Hulp uit een voorbeeld van Sanne, https://codepen.io/Roosb16/pen/GgZXbdJ */
details summary::marker {
	content: ''; /* verbergen voor chrome en edge*/
	/* verbergen voor safari nog doen */
}
  
details summary::-webkit-details-marker {
	display:none;
}

summary {
	display:flex;
	justify-content: space-between;

	padding: var(--medium);
}

summary::after {
	content:">";
	
	rotate: 90deg;
	transition: .5s;
	
	font-size: 1.5rem;
	line-height: var(--extra-large);
}

details[open] summary::after {
	rotate:270deg;
}