/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
main section:nth-of-type(1){
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 0.3em;
}

main section h1,p{
	grid-column-start: 1;
	grid-column-end: -1;
}

main section:nth-of-type(1) article{
	display: grid;

	margin-bottom: .3rem;
}

main article ul {
	display:flex;

	overflow: auto;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	overscroll-behavior-x: contain;
	gap: .5em;
	
	scrollbar-width: thin;
	scrollbar-color: gray transparent;

	padding: 0;
	margin: 0;

	order: -1;
}
  
main li {
	flex-basis:100%;
	flex-shrink: 0;

	scroll-snap-align: center;	
}

main a article h2{
	position: relative;

	font-size: 1em;
	font-weight: 400;

	color: var(--color-text-dark);
	
	padding-top: .7rem;
	margin: 0 .3rem;
}

main article p{
	font-size: .75em;

	color: var(--color-text-dark);
	
	margin: .1rem .5rem;
}

main article p:nth-of-type(1){
	color: var(--color-text);
}

main article{
	position: relative;
}

main article h2{
	position: absolute;
	bottom: .5rem;

	font-size: 2em;
	font-weight: 600;

	color: var(--color-light);

	margin: 0 .3rem;
}

main article img{
	padding: 0;
	margin: 0;

	height: 100%;
}