/*********/
/* Fonts */
/*********/
@font-face{
	font-family: fann;
	src: url(../fonts/FannDorenGrotesque-Regular.woff2);
	font-weight: 400;
}

@font-face{
	font-family: fann;
	src: url(../fonts/FannDorenGrotesque-Medium.woff2);
	font-weight: 500;
}

@font-face{
	font-family: fann;
	src: url(../fonts/FannDorenCondensed-Bold.woff2);
	font-weight: 700;
}


/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #262424;
	--color-background: #fff;
	--color-menu: #000;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	font-family: "fann";
}


li {
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}







/********/
/* Menu */
/********/
header{
	display: flex;
	/* justify-content: space-between; */
	gap:.5em;
	align-items: center;

	position: sticky;
	top: 0;

	z-index: 10;
}

/* LOGO */

header > a {
	margin-right:auto;
}


/******************/
/* Hamburger menu */
/******************/
header nav{
	position: fixed;
	inset: 0;

	background-color: var(--color-menu);

	translate: 0 100%;
	
	transition: 1s;

	&.is-open {
		translate: 0 0;
	}
}

header nav img{
	width: 3em;
}

header button:nth-of-type(4) {
	appearance: none;
	
	width: 2.5em;
	aspect-ratio: 1/1;

	border: none;
	padding: 0;
	
	display: grid;
	justify-items: center;
	align-items: center;

	position:relative;
  	z-index: 1;
}

header nav ul{
	

	margin: 0;
}

button:nth-of-type(4) span {
	display: block;

	width: 1.5em;
	height: .1em;
	background-color: black;

	grid-row-start: 1;
	grid-column-start: 1;

	transition: .25s;
}

button:nth-of-type(4) span:nth-of-type(1) {
	translate: 0 -.3em;
}

button:nth-of-type(4) span:nth-of-type(3) {
	translate: 0 .3em;
}

button.kruisje span:nth-of-type(1) {
	translate: 0 0;
	rotate: 45deg;
}
  
button.kruisje span:nth-of-type(2) {
	scale: 0 1;
}
  
button.kruisje span:nth-of-type(3) {
	translate: 0 0;
	rotate: -45deg;
}



@media(width>48em){
	header > a {
		margin-left:auto;
	}
	
	header button:nth-of-type(4){
		order: -1;
	}
}