/****************/
/* JOUW STYLING */
/****************/

/* hero section */

main section:nth-of-type(1) ul {
	display: flex;

	overflow: auto;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	overscroll-behavior-x: contain;
	gap: var(--medium);

	scrollbar-width: thin;
	scrollbar-color: gray transparent;

	padding: var(--none);
}

main section:nth-of-type(1) li {
	display:grid;

	flex-basis: 100%;
	flex-shrink: 0;

	scroll-snap-align: center;
}

main section:nth-of-type(1) li::after{
	content:"";
	grid-area:1/1;

	background-image:linear-gradient(transparent, #0008);
}

main section:nth-of-type(1) picture{
	grid-area:1/1;
}

main section:nth-of-type(1) img {
	height: 100%;
	
	display:block;
}

main section:nth-of-type(1) li:nth-of-type(1) h2 {
	padding: var(--small-rondom);
	margin-bottom: 2rem;
}

main section:nth-of-type(1) li p {
	grid-area: 1/1;

	align-self: end;

	z-index: 1;

	padding: var(--small-rondom);
	margin-bottom: 2.2rem;

	color: var(--color-light);
}

main section:nth-of-type(1) li h2 {
	grid-area: 1/1;

	align-self: end;

	font-size: var(--font-large);

	z-index: 1;

	padding: var(--small-rondom);
	margin-bottom: 5rem;

	color: var(--color-light)
}

main section:nth-of-type(1) li:nth-of-type(2) h2 {
	padding: var(--small-rondom);
	margin-bottom: 2rem;
}

main section:nth-of-type(1) li a {
	text-decoration: underline;

	color: var(--color-light);
}

main section:nth-of-type(1) li>a {
	grid-area: 1/1;

	align-self: end;

	z-index: 1;

	padding: var(--small-rondom);
	margin-bottom: .5rem;

	font-size: var(--font-medium);
}

/* shoppen section */
main section:nth-of-type(2) ul {
	display: flex;

	overflow: auto;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	overscroll-behavior-x: contain;
	gap: var(--medium);

	scrollbar-width: thin;
	scrollbar-color: gray transparent;

	padding: var(--none);
}

main section:nth-of-type(2) li {
	position: relative;

	flex-basis: 80%;
	flex-shrink: 0;

	scroll-snap-align: center;

	overflow: hidden;
}

main section:nth-of-type(2) p {
	position: absolute;
	bottom: var(--medium);

	z-index: 1;

	padding: var(--small-rondom);

	text-decoration: underline;

	color: var(--color-light);
}

main section:nth-of-type(2) img{
	display: block;
    transition: .5s;
}

main section:nth-of-type(2) a{
	display: block;
}

main section:nth-of-type(2) img:hover{
	rotate: 3deg;
	scale: 1.1;
}

