/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
main section:nth-of-type(1){
	display: grid;
	grid-template-columns: 50% 50%;
	gap: var(--small);
}

main section h1,p{
	grid-column-start: 1;
	grid-column-end: -1;
}

main section:nth-of-type(1) article{
	display: grid;

	margin-bottom: var(--small);
}

main article ul {
	display:flex;

	overflow: auto;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	overscroll-behavior-x: contain;
	gap: var(--medium);
	
	scrollbar-width: thin;
	scrollbar-color: gray transparent;

	padding: var(--none);
	margin: var(--none);

	order: -1;
}
  
main li {
	flex-basis:100%;
	flex-shrink: var(--none);

	scroll-snap-align: center;	
}

main a article h2{
	position: relative;

	font-size: var(--font-small);
	font-weight: var(--regular-fann);

	color: var(--color-text-dark);
	
	padding-top: .7rem;
	margin: 0 var(--small);
}

main article p{
	font-size: var(--font-extra-small);

	color: var(--color-text-dark);
	
	margin: var(--extra-small-rondom);
}

main article p:nth-of-type(1){
	color: var(--color-text);
}

main section > article{
	display: grid;
}

main section > article::after{
	content:"";
	grid-area:1/1;

	background-image:linear-gradient(transparent, #0009);
}

main section > article h2{
	grid-area: 1/1;

	align-self: end;

	z-index: 1;

	font-size: var(--font-large);
	font-weight: var(--bold-fann);

	color: var(--color-light);

	margin: var(--small);
}

main section > article img{
	height:100%;
	
	grid-area:1/1;
	
	display:block;
}