/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
main section:nth-of-type(1){
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 1em;
}

main section h1,p{
	grid-column-start: 1;
	grid-column-end: -1;
}

main ul {
	display:flex;

	overflow: auto;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	overscroll-behavior-x: contain;
	gap: .5em;
	
	scrollbar-width: thin;
	scrollbar-color: gray transparent;

	padding: 0;
}
  
main li {
	flex-basis:100%;
	flex-shrink: 0;

	scroll-snap-align: center;	
}