/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
button{
    font-size: inherit;
    
    appearance:none;
}

section ul{
    display:flex;

	overflow: auto;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	overscroll-behavior-x: contain;
	gap: .3em;
	
	scrollbar-width: thin;
	scrollbar-color: var(--color-accent) transparent;

	padding: 0;
	margin: 0;
}

section li{
    flex-basis: 70%;
	flex-shrink: 0;

	scroll-snap-align: center;	
}

/******************/
/* eerste section */
/******************/
section:nth-of-type(1){
    display: grid;
}

section:nth-of-type(1) h1{
    font-size: 1.2rem;
    font-weight: 400;

    order: -3;

    padding: .8rem 0 .4rem 0;
    margin: 0;
}

section:nth-of-type(1) p{
    font-size: .7rem;

    padding-bottom: .8em;
    margin: 0;
}

section:nth-of-type(1) p:nth-of-type(2){
    order: -1;
}

section:nth-of-type(1) p:nth-of-type(1){
    font-size: 1rem;

    order: -2;
}

div{
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

section:nth-of-type(1) div > img{
    display: block;

    order: -2;

    width: 13%;
    
    border: .1rem var(--color-accent) solid;
    border-radius: .4rem;
    
    margin-bottom: .8rem;
}

section:nth-of-type(1) ul{
    order: -3;
}

section:nth-of-type(1) li{
    flex-basis: 100%;
}

section:nth-of-type(1) button{
    height: 3rem;
}

@media(width>64em){
    section:nth-of-type(1){
        grid-template-columns: 30% 30% 40%;
    }

    section:nth-of-type(1) ul{
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-column: 1/3;

        overflow: visible;

        scroll-snap-type: none;

    }

    section:nth-of-type(1) h1, p, button, label{
        grid-column-end: -1;
        grid-row-end: -1;
    }

    section:nth-of-type(1) button{
        margin-bottom: .3rem;
    }

    section:nth-of-type(1) div > img{
        grid-column-end: -1;
        grid-row-end: -1;
    }

    section:nth-of-type(1) details{
        grid-column: 1/4;

        margin: .4rem 3rem;
    }
}

/******************/
/* tweede section */
/******************/
section:nth-of-type(2) li{
    flex-basis: 80%;
}


/*****************/
/* derde section */
/*****************/
section:nth-of-type(3) article{
    display: grid;
}

section:nth-of-type(3) a article h3{
	position: relative;

	font-size: 1em;
	font-weight: 500;

	color: var(--color-text-dark);
	
	padding-top: .7rem;
	margin: 0 .3rem;
}

section:nth-of-type(3) a article p{
	font-size: .75em;

	color: var(--color-text-dark);
	
	margin: .1rem .3rem;
}

section:nth-of-type(3) a article img{
    order: -1;
}
