/*********/
/* Fonts */
/*********/
@font-face{
	font-family: fann;
	src: url(../fonts/FannDorenGrotesque-Regular.woff2);
	font-weight: 400;
}

@font-face{
	font-family: fann;
	src: url(../fonts/FannDorenGrotesque-Medium.woff2);
	font-weight: 500;
}

@font-face{
	font-family: fann;
	src: url(../fonts/FannDorenCondensed-Bold.woff2);
	font-weight: 700;
}


/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text-dark: #262424;
	--color-background: #fff;
	--color-menu: #262424;
	--color-light: #F3F3F3;
	--color-text: #707070;
	--color-accent: #7F4C3B;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	font-family: "fann";
	margin: 0;
}

li {
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}



/********/
/* Menu */
/********/
header{
	display: flex;
	/* justify-content: space-between; */
	gap:.5em;
	align-items: center;

	position: sticky;
	top: 0;

	z-index: 10;

	background-color: var(--color-background);

	padding: 1em 1em;
}

/* header buttons/images */
header button img{
	width: 2em;
}

header button{
	width: 2.5em;
	aspect-ratio: 1/1;

	border: none;
	padding: 0;

	background-color: var(--color-background);
}


/* LOGO */
header > a {
	margin-right:auto;
}


/******************/
/* Hamburger menu */
/******************/
header nav{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: fixed;
	inset: 0;

	background-color: var(--color-menu);
	backdrop-filter: blur(1em);

	translate: 0 100%;
	
	transition: .5s ease;

	padding: 0;
	margin: 0;

	&.is-open {
		translate: 0 0;
	}
}

header nav li a{
	color: var(--color-light);

	font-size: 1.1em;
	font-weight: 400;
}

header nav img{	
	color: var(--color-light);

	width: 3em;
}

header nav ul{
	border-bottom: .1rem var(--color-light) solid;
	border-top: .1rem var(--color-light) solid;

	padding: 1.5rem 0;
	margin: 0 1.5rem;
}

header nav ul:nth-of-type(1){
	border: none;

	padding-left: 1.5rem;
	margin: 3rem 0 5rem 0;
}

header nav ul:nth-of-type(3){
	border: none;

	padding-left: 1.5rem;
	margin: 3rem 0 1rem 0;

	font-size: 0.7em;
}

header nav li{
	padding: .6rem 0;
}

header button:nth-of-type(4) {
	appearance: none;
	
	width: 2.5em;
	aspect-ratio: 1/1;

	border: none;
	padding: 0;
	
	display: grid;
	justify-items: center;
	align-items: center;

	position:relative;
  	z-index: 1;
}

button:nth-of-type(4) span {
	display: block;

	width: 1.5em;
	height: .1em;
	background-color: black;

	grid-row-start: 1;
	grid-column-start: 1;

	transition: .25s;
}

button:nth-of-type(4) span:nth-of-type(1) {
	translate: 0 -.4em;
}

button:nth-of-type(4) span:nth-of-type(3) {
	translate: 0 .4em;
}

button.kruisje span:nth-of-type(1) {
	translate: 0 0;
	rotate: 45deg;
}
  
button.kruisje span:nth-of-type(2) {
	scale: 0 1;
}
  
button.kruisje span:nth-of-type(3) {
	translate: 0 0;
	rotate: -45deg;
}



@media(width>48em){
	header > a {
		margin-left:auto;
	}
	
	header button:nth-of-type(4){
		order: -1;
	}

	header nav{
		translate: -100% 0;

		top: 0;
		right: 65%;
		bottom: 0;
		left: 0;
	}
}

/**********/
/* footer */
/**********/
footer{
	background-color: var(--color-menu);
	color: var(--color-light);
}

footer nav ul{
	padding: 0 1em;
}

footer a{
	color: var(--color-light);
	font-weight: 400;
}

footer a:hover{
	text-decoration: underline;
}

footer details{
	border-bottom: .08rem solid;
	padding: 1rem .5rem;
	margin: .5em 1em;
}

footer details summary{
	font-weight: 500;
}

footer details ul{
	margin: 0 -2em;
}

footer details li{
	padding: .1em 0;
}